{% extends 'base.html' %} {% block content %}
<h1>Home</h1>

<!-- Updates (From Whatsapp) -->
<button type="button" class="btn btn-primary">
  Updates <span class="badge text-bg-secondary">3</span>
</button>

<!-- accordion -->
<div class="accordion accordion-flush bg-dark" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        How to handle blocked user ticket
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        NEW RULE: If you get a ticket from a <code>Blocked user</code>, don't
        just mark it solved. Put the internal note of the user being blocked and
        assign the ticket to Second Tier / Mobimatter support in OPEN status
        <br /><br />
        <button class="btn btn-info">Acknowledge</button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo"
        aria-expanded="false"
        aria-controls="flush-collapseTwo"
      >
        UPDATE: 'Vietnam Plus' packages from Tsim
      </button>
    </h2>
    <div
      id="flush-collapseTwo"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        UPDATE: 'Vietnam Plus' packages from Tsim, purchased after 1 PM UTC time
        today, will also work in South Korea. This will not affect the promised
        coverage of eSIMs bought before the change happened. Previously bought
        eSIMs will not work in South Korea. Please pay attention to this change
        when troubleshooting tickets
        <br /><br />
        <button class="btn btn-info">Acknowledge</button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree"
        aria-expanded="false"
        aria-controls="flush-collapseThree"
      >
        New IP address article
      </button>
    </h2>
    <div
      id="flush-collapseThree"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        IP Addresses and Their Role in Travel eSIMs at that
        <a
          href="https://help.mobimatter.com/hc/en-us/articles/29769352688529-IP-Addresses-and-Their-Role-in-Travel-eSIMs"
          target="_blank"
          >link</a
        >
        <br /><br />
        <button class="btn btn-info">Acknowledge</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
